{{define "content"}}
<h2 class="mb-4">Create New User</h2>

{{if .error}}
<div class="alert alert-danger">
{{ .Error }}
</div>
{{end}}

<div class="card mb-4">
    <div class="card-body">
        <div>
            <form action="/users" method="POST">
                <div class="form-group">
                    <label for="Nama">Nama</label>
                    <input type="text" name="Nama" placeholder="" required class="form-control" value="{{.Nama}}">
                </div>
            
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" name="email" placeholder="  " required class="form-control"value="{{.Email}}">
                </div>
            
                <div class="form-group">
                    <label for="Pekerjaan">pekerjaan</label>
                    <input type="text" name="Pekerjaan" placeholder="   " required class="form-control" value="{{.Pekerjaan}}">
                </div>
            
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="    " required class="form-control" value="{{.Password}}">
                </div>
            
                <div>
                    <button type="submit" class="btn btn-primary"> Submit </button>
                </div>    
            </form>
        </div>
    </div>
        {{ end }}