{{define "content"}}
<div class="content p-4">
    <h2 class="mb-4">Data User</h2>


    <div class="card mb-4">
        <div class="card-body">
            <table class="table mb-0">
                <Thead class="thead-light">
                    <tr>
                        <th></th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th></th>
                        <th>Telfon</th>
                        <th>NPWP</th>
                        <th></th>

                    </tr>
                </Thead>
                <tbody>
                    {{range .users}}
                    <tr>
                        <td><img class="img-fluid img-thumbnail" src="{{ .AvatarFileName }}" width="60"></td>
                        <td>{{.Nama}}</td>
                        <td>{{.Email}}</td>
                        <td>{{.PeranUser}}</td>
                        <td>{{.Telfon}}</td>
                        <td>{{.Npwp}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>

    {{end}}