{{define "content"}}
<div class="content p-4">
    <h2 class="mb-4">Data Pengguna</h2>

    <a href="/users/new" class="btn btn-primary m-3"><i class="fa fa-plus"></i> New User</a>

    <div class="card mb-4">
        <div class="card-body">
            <table class="table mb-0">
                <Thead class="thead-light">
                    <tr>
                        <th></th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Pekerjaan</th>
                        <th>Telfon</th>
                        <th>NPWP</th>
                        <th></th>

                    </tr>
                </Thead>
                <tbody>
                    {{range .users}}
                    <tr>
                        <td><img class="img-fluid img-thumbnail" src="{{ .AvatarFileName }}" width="60"></td>
                        <td>{{.Nama}}</td>
                        <td>{{.Email}}</td>
                        <td>{{.Pekerjaan}}</td>
                        <td>{{.Telfon}}</td>
                        <td>{{.Npwp}}</td>
                        <td><a href="/users/edit/{{ .ID }}"><i class="fa fa-edit"></i></a></td>
                        <td><a href="/users/avatar/{{ .ID }}"><i class="fa fa-camera"></i></a></td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>

    {{end}}