{{ define "content" }}

<h2 class="mb-4">Data Transaksi</h2>

<div class="card mb-4">
    <div class="card-body">
        <table class="table mb-0">
            <thead class="thead-light">
                <tr>
                    <th>Investor ID</th>
                    <th>Nama Investor</th>
                    <th>Merk UMKM </th>
                    <th>Dana Yang Di Investasikan</th>
                    <th>Status Investasi</th>
                </tr>
            </thead>
            <tbody>
                {{ range .transactions }}
                <tr>
                    <td>{{ .UserID }}</td>
                    <td>{{ .User.Nama }}</td>
                    <td>{{ .Campaign.Nama }}</td>
                    <td>{{ .AmountFormatIDR }}</td>
                    <td>{{ .Status }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>

{{ end }}