{{ define "content" }}

<h2 class="mb-4">Data UMKM</h2>

<div class="card mb-4">
    <div class="card-body">
        <table class="table mb-0">
            <thead class="thead-light">
                <tr>
                    <th>ID UMKM</th>
                    <th>Nama Pemilik UMKM</th>
                    <th>Foto Merk UMKM</th>
                    <th>Merk UMKM</th>
                    <th>Short Description</th>
                    <th>Investor Yang Sudah Menginvestasikan UMKM Ini </th>
                    <th>Dana Investasi Yang Dibutuhkan</th>
                    <th>Dana Yang Sudah Di Investasikan</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range .campaigns }}
                <tr>
                    <td>{{ .ID }}</td>
                    <td>{{ .User.Nama }}</td>
                    <td>
                        {{ if .CampaignImages }}
                        <img width="60" src="/{{ (index .CampaignImages 0).FileName }}" class="img-fluid img-thumbnail"> {{ end }}
                    </td>
                    <td>{{ .Nama }}</td>
                    <td>{{ .ShortDescription }}</td>
                    <td>{{ .BackerCount }}</td>
                    <td>{{ .GoalAmountFormatIDR }}</td>
                    <td>{{ .CurrentAmountFormatIDR }}</td>

                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>

{{ end }}