{{ define "content" }}

<h2 class="mb-4">Data Project UMKM</h2>

<a href="/campaigns/new" class="btn btn-primary mb-3"><i class="fa fa-plus" ></i>  New Project UMKM</a>

<div class="card mb-4">
    <div class="card-body">
        <table class="table mb-0">
            <thead class="thead-light">
                <tr>
                    <th>User Project ID</th>
                    <th>Nama User</th>
                    <th>project id</th>
                    <th>Foto Project UMKM</th>
                    <th>Nama Project UMKM</th>
                    <th>Short Description</th>
                    <th>Dana Yang Dibutuhkan</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range .campaigns }}
                <tr>
                    <td>{{ .UserID }}</td>
                    <td>{{ .User.Nama }}</td>
                    <td>{{ .ID }}</td>
                    <td>
                        {{ if .CampaignImages }}
                        <img width="60" src="/{{ (index .CampaignImages 0).FileName }}" class="img-fluid img-thumbnail"> {{ end }}
                    </td>
                    <td>{{ .Nama }}</td>
                    <td>{{ .ShortDescription }}</td>
                    <td>{{ .GoalAmountFormatIDR }}</td>
                    <td><a href="/campaigns/edit/{{ .ID }}"><i class="fa fa-edit"></i><a></td>
                    <td><a href="/campaigns/image/{{ .ID }}"><i class="fa fa-camera"></i><a></td>
                    <td><a href="/campaigns/show/{{ .ID }}"><i class="fa fa-search"></i><a></td>
                    <td><a href="#"><i class="fa fa-window-close"></i><a></td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>

{{ end }}